<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>title</title>
		<link rel="stylesheet" type="text/css" href="SWapi.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	</head>
	<body>  
	
		
		<div id="outer-shell" align="center">
			<div id="dropHead"><p id="dropHead">SWapi How-To Guide</p></div>
			<div class="dropdown">
				<button class="dropbtn">Dropdown</button>
				<div class="dropdown-content">
					<a href="index.html">Home</a>
					<a href="pag1.html">Different Types of Data</a>
					<a href="pag2.html">Handling JSON Requests</a>
					<a href="pag3.html">Some Functionality</a>
					<a href="pag4.html">Bonus Features</a>
					<a href="end.html">End</a>
				</div>
			</div>
		</div>
	<div class="container">
  <div class="jumbotron">
		<h1>That's All Folks</h1>      
		<p>May the Force be with you....</p>
  </div>
  
		<div id="back"><a href="pag4.html">Bonus Features</a></div>
</div>

	
	
	</body>
</html>