<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>title</title>
		<link rel="stylesheet" type="text/css" href="SWapi.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	</head>
	<body>  
	
		<div id="outer-shell" align="center">
			<div class="dropdown">
				<button class="dropbtn">Dropdown</button>
				<div class="dropdown-content">
					<a href="index.html">Home</a>
					<a href="pag1.html">Different Types of Data</a>
					<a href="pag2.html">Handling JSON Requests</a>
					<a href="pag3.html">Some Functionality</a>
					<a href="pag4.html">Bonus Features</a>
					<a href="end.html">End</a>
				</div>
			</div>
		</div>
	
	<div class="container">
		<div class="jumbotron">
			<h1>SWapi How-TO Guide!</h1>      
			<p>Welcome to the SWapi How-TO Guide! Written by: Chase Coltman</p>
		</div>
		<p>In this guide we are going to demonsrate how to take the Star Wars Universe and make it accessable by any website that wants to use them. The data is sent in JSon requests, something we will get into on another page.</p>      
		<p>This is a completely free-to-use API, so no sign-up is needed, just a love of Star Wars. There is a dropdown menu with all the pages in this how-to guide in case you need to access a page directly.</p>
		<p>For now, just give that next button a click and let's Get Started.</p>    
		<div id="next"><a href="pag1.html">Let's Get Started</a></div>
	</div>
	<br>
	
	
	</body>
</html>