<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>title</title>
		<link rel="stylesheet" type="text/css" href="SWapi.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	</head>
	<body>  
	
		<div id="outer-shell" align="center">
			<div id="dropHead"><p id="dropHead">SWapi How-To Guide</p></div>
			<div class="dropdown">
				<button class="dropbtn">Dropdown</button>
				<div class="dropdown-content">
					<a href="index.html">Home</a>
					<a href="pag1.html">Different Types of Data</a>
					<a href="pag2.html">Handling JSON Requests</a>
					<a href="pag3.html">Some Functionality</a>
					<a href="pag4.html">Bonus Features</a>
					<a href="end.html">End</a>
				</div>
			</div>
		</div>
	<div class="container">
  <div class="jumbotron">
		<h1>Bonus Features</h1>      
  </div>
	<p>Wookieize your Text! This is not the most impressive of things, but I know I have definitly asked at least twice in my life, What is like to read wookie?
	Well thanks to the fabulous people at SWapi, we can now know exactly what it's like. By the way, these are super fun to read out loud around lots of people.</p>  
	<img src="imgs/craah.png"></img>
	<img src="imgs/reeaah.png"></img>
	
	<p>As you can see, it makes the results of whatever you search for un-recognizable and also it's impossible to read. The way you do this is by adding an additional variable called
	format which would control whether or not your text comes out in Wookiee. One problem with this is that the developers thought it would be hilarious if they changed the variable names to 
	also be in wookiee, so when trying to print the right values, you willget errors unless you change the name of the response variable.</p>
		<div class="linkOuter">
			<div id="back"><a href="pag3.html">Some Functionality</a></div>
			<div id="next"><a href="end.html">End</a></div>
		</div>
	</div>

	
	
	</body>
</html>